{% extends 'List/Base.html' %}
{%load static%}

{%block content%}
        <h2>Product addition</h2>
    <form method="post">
        {%csrf_token%}
        <p><label for="id_product_list">Продукт:</label>
            <input type="text" name="product_list" maxlength="200" required="" id="id_product_list" placeholder="Product"></p>
        <p><label for="id_product_count">Количество:</label>
            <input type="number" name="product_count" required="" id="id_product_count" placeholder="Product Quantity"></p>
        <button class="btn-submit" type="submit">Save</button>
    </form>

{%endblock%}