{%load static%}

<html>
<head>
    <title> Product List </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=League+Gothic&family=Poppins:wght@700&display=swap" rel="stylesheet">
      <style>
   body {
    background-image: url(https://images.unsplash.com/photo-1490818387583-1baba5e638af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80);

   }
  </style>
<!--    {% if request.user.is_authenticated %}-->
<!--        <meta http-equiv="refresh" content="0;{% url 'main_listing' %}">-->
<!--    {%endif%}-->
</head>
<body>

    <div>

        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

