{% extends 'List/Base.html' %}
{%load static%}


    {% block content %}
        <p><button class="btn-main-page" > <a href="{% url 'main_listing' %}"> Main Page </a></button></p>
        <p><button><a href="{% url 'addproduct_url' %}"> Add Products </a></button></p>
        <div>
            <p> Список покупок </p>
                <p>
                    {%for prod in products%}
                    <p> {{prod.product_list}} | {{prod.product_count}}  шт <p>
                    {%endfor%}
                </p>
        </div>
    {% endblock%}