{% extends 'List/Base.html' %}
{% block content %}
    <h2>Registration</h2>
    <form method="post">
      {% csrf_token %}
        <p>
        <label for="id_username">Username:</label>
        <input type="text" name="username" required="" id="id_username" placeholder="Username">
        </p>
        <p>
        <label for="id_password">Пароль:</label>
        <input type="text" name="password" maxlength="128" required="" id="id_password" placeholder="Password">
            </p>
<!--      {{ user_form.as_p }}-->
      <button class="btn-login"  type="submit">Save</button>
    </form>
{% endblock %}

